//ABSTRACT >>>> mixin ,variables
@import "./scss/abstract/mixins";
@import "./scss/abstract/variables";


//BASE >>>> base, typography
@import "./scss/base/base";
@import "./scss/base/typography";


//COMPONENT >>>>>> buttons, input,  mainScreen
@import "./scss/component/buttons";
@import "./scss/component/input";
@import "./scss/component/mainScreen";


//LAYOUT >>> grid, head
@import "./scss/layout/foot";
@import "./scss/layout/game";
@import "./scss/layout/grid";
@import "./scss/layout/head";

// font-family: 'Press Start 2P', cursive;
