.gamebody__div {
    // margin-left: 30%;
    height: 45vh;
    // padding-left: 34%;

    .gameComp {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 20%;
        font-size: 2rem;
        margin-bottom: 6%;

    }
}


