.row {
    max-width: $grid-width;

    @include clearfix;
    
    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    [class^="col-"]{
        float: left;
        
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-1-of-5 {
        width: calc((100% - 5 * #{$gutter-horizontal}) / 5);
    }

    .col-4-of-5 {
        width: calc( 4 * ((100% - 5 * #{$gutter-horizontal}) / 5) + 4 * #{$gutter-horizontal});
    }
}