.btn {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}

.btn__round {
    font-size: 1.2rem;
    padding: 0;
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
    border: 1px solid $clr-dark;
    background-image:radial-gradient($clr-light 35%, $clr-grey);
    box-shadow: 
            0 2px 0 1px #777,
            0 4px 0 rgb(109, 109, 109),
            0 6px 0 rgb(98, 98, 98),
            0 8px 0 rgb(90, 90, 90),
            0 10px 0 rgb(83, 83, 83);
    position: relative;
    cursor: pointer;

    &::before {
        content: "";
        width: 0;
        height: 0;
        background-color: none;
        border: 1rem solid transparent;
        border-right: 2rem solid $clr-light;
        border-left-width: 0;
        position: absolute;
        top: 40%;
        right: -20%;
        visibility: hidden;
    }

    &::after {
        content: "click to select level";
        width: 200%;
        font-size: .8rem;
        padding: 2rem 0;
        background-color: $clr-light;
        position: absolute;
        top: 30%;
        right: -220%;
        visibility: hidden;
    }

    &:hover {
        background-image:radial-gradient($clr-light 45%, $clr-grey);
        box-shadow: 
            0 2px 0 1px #777,
            0 4px 0 rgb(109, 109, 109),
            0 6px 0 rgb(98, 98, 98),
            0 8px 0 rgb(90, 90, 90),
            0 12px 0 rgb(83, 83, 83);
        transform: translateY(-2px);

        &::after, &::before {
            visibility: visible;
        }
    }

    &:active {
        background-image:radial-gradient($clr-light 30%, $clr-grey);
        box-shadow: 
            0 2px 0 1px #777,
            0 4px 0 rgb(109, 109, 109),
            0 6px 0 rgb(98, 98, 98),
            0 8px 0 rgb(90, 90, 90),
            0 9px 0 rgb(83, 83, 83);
        transform: translateY(1px);
    }
}


// button starts from here
.btn__rectangle{
    background-color: $clr-light-grey;
    border: 1px solid $clr-dark;
    box-shadow: 1rem 1rem 0 0 $clr-grey;
    cursor: pointer;
    position: relative;

    &::after {
        content: "";
        height: 0;
        width: 0;
        background-color: transparent;
        border: 1rem solid transparent;
        border-left: 1rem solid $clr-grey;
        border-right-width: 0;
        position: absolute;
        top: 0;
        right: -1rem;
    }

    &::before {
        content: "";
        height: 0;
        width: 0;
        background-color: transparent;
        border: 1rem solid transparent;
        border-top: 1rem solid $clr-grey;
        border-bottom-width: 0;
        position: absolute;
        bottom: -1rem;
        left: 0;
    }

    &:hover {
        background-color: #eee;
        transform: translate(-1px, -2px);
        box-shadow: 1.1rem 1.2rem 0 0 $clr-grey;

        &::after {
            border: 1.13rem solid transparent;
            border-left: 1.13rem solid $clr-grey;
            border-right-width: 0;
            top: -1px;
            right:-1.2rem;
        }

        &::before {
            border: 1.13rem solid transparent;
            border-top: 1.13rem solid $clr-grey;
            border-bottom-width: 0;
            bottom: -1.15rem;
            left:0;
        }
    }

    &:active {
        background-color: #ccc;
        transform: translate(1px, 2px);
        box-shadow: .9rem .8rem 0 0 $clr-grey;

        &::after {
            border: 0.9rem solid transparent;
            border-left: 0.9rem solid $clr-grey;
            border-right-width: 0;
            top: -1px;
            right:-0.9rem;
        }

        &::before {
            border: .9rem solid transparent;
            border-top: .9rem solid $clr-grey;
            border-bottom-width: 0;
            bottom: -8.2px;
            left:0;
        }
    }
}