.screen {
    min-height: $height-10vh;
    max-height: $height-15vh;
    text-align: center;
    margin-bottom: $gutter-horizontal;
    background-image: linear-gradient($clr-dark 45%, $clr-light 46%, $clr-dark 49%);

    .display_div {
        margin-left: 36%;
        background-color: $clr-light;
        min-height: $height-10vh;
        max-height: $height-15vh;
    }

    .main_display {
        display: inline-block;
        color: $clr-dark;
        font-size: 2rem;
        margin: 9% 0;
    }
}

