/* font-family: 'Press Start 2P', cursive; */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    position: relative;
}