/* font-family: 'Press Start 2P', cursive; */

body{
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    background-color: #000;
    font-size: 1.6rem;
    color: #fff;
    padding: 3rem;
}