//grid width
$grid-width: 156rem;

//element height
$height-10vh: 10vh;
$height-15vh: 15vh;
$height-20vh: 20vh;
$height-30vh: 30vh;

//padding
$padding-medium: 3rem;
$padding-small: 1rem;
$padding-large: 5rem;

//colours
$clr-dark: #000;
$clr-light: #fff;
$clr-grey: #777;
$clr-light-grey: #ddd;

//gutters
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;
$gutter-sm-horizontal: 2rem;